.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.will {
    background-color: lightblue;
}

.histogram{
    width: 100%;
    height: 900px;
}