<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">

        <div *ngIf="!(this.candidates.length > 0)">
          Step 1: Upload Candidate Data in Correct Format
          <input id="file-upload" type="file" accept=".txt, .csv" (change)="uploadCandidates($event)" class="btn btn-sm btn-outline-secondary">
        </div>
      
        <div *ngIf="(this.candidates.length > 0) && !(this.donations.length > 0)">
          Step 2: Upload Donation Data for the 2015-2016 Election Cycle
          <input id="file-upload" type="file" accept=".txt, .csv" (change)="uploadDonations($event)" class="btn btn-sm btn-outline-secondary">
        </div>

        <div *ngIf="(this.candidates.length > 0)">
            <button class="btn btn-sm btn-outline-secondary" (click)="this.showTable = !this.showTable" 
                    [ngClass]="{'active': this.showTable}">Toggle Table</button>
        </div>

        <div *ngIf="(this.donations.length > 0)">
            <button class="btn btn-sm btn-outline-secondary" (click)="reassignCandidateData()" 
                    [ngClass]="{'active': this.showHistogram}">Toggle Graph</button>
        </div>
      </div>
    </div>
  </div>

  <app-histogram *ngIf="this.showHistogram" [candidateData]='this.histogramData' [title]="'2016 Presidential Election Contributions'"></app-histogram>

  <app-table *ngIf="this.showTable" [title]="'Campaign Donations'" [dataTitle]="'Candidates'" [data]="this.candidates"></app-table>

</main>