<h2>{{title}}</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th class="red">#</th>
        <th *ngFor="let header of this.headers; let i = index" 
            [ngClass]="{'white': i%3 == 0, 'blue': i%3 == 1, 'red': i%3 == 2}">
            {{header}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data_object of data; let i = index">
        <td class="red">{{i+1}}</td>
        <td class="white">{{data_object[0]}}</td>
        <td class="blue">{{data_object[1]}}</td>
        <td class="red">{{data_object[2]}}</td>
        <td class="white">{{data_object[15]}}</td>
      </tr>
    </tbody>
  </table>
</div>